
<div id="mySidenav" class="sidenav">
  <div>
    <img src="../../assets/images/avatar/av1.png" alt="avatar"> <span>De Minipoes</span><i class="fas fa-retweet"></i>
  </div>
  <div>
    <p><i class="far fa-heart"></i>Mijn favorieten</p>
  </div>

  <button>genre</button>
  <button>genre</button>
  <button>genre</button>
  <button>genre</button>
  <button>genre</button>
  <button>genre</button>
  <button>genre</button>
  <button>genre</button>
  <button>genre</button>
  <button>genre</button>

</div>

<span id="blur" class="blurry" (click)="closeNav()"></span>

<div id="main">
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; <img src="../../assets/images/home/logotrans.png"></span>

  <div class="genrerow firstrow">
    <button id="slideLeft" type="button" (click)="btnLeft()" class="left"><i class="fas fa-chevron-left"></i></button>
    <div id="container">
      <div id="content">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
        <img src="../../assets/images/poster/32590_123652_ps_sd-high.jpg" alt="poster">
      </div>
    </div>
    <button id="slideRight" type="button" (click)="btnRight()" class="right"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
