<div class="maindiv">
  <h2 style="position: fixed; width: 100%; text-align: center">Kies een profiel of maak een profiel aan</h2>


  <div class="user" *ngFor="let account of subaccounts">
    <img src="../../assets/images/avatar/{{account.avatar}}" alt="avatar" (click)="confirmuser(account)">
    <p>{{account.name}}</p>
    <button class="btns" (click)="editaccount(account)">Aanpassen</button>
    <button class="btns" (click)="deleteUser(account)">Verwijderen</button>
  </div>
  <div class="user" (click)="showNewUser()" *ngIf="subaccounts.length < 5">
    <i class="far fa-plus-square"></i>
    <p>Toevoegen</p>
  </div>

  <div id="newusermodal" (click)="hideNewUser()">
    <form (click)="$event.stopPropagation()" >
      <h2>Kies een avatar</h2>
      <div *ngIf="avatarchosen == false" >
        <img *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" (click)="chooseAvatar(number)" src="../../assets/images/avatar/av{{number}}.png">
      </div>
      <img (click)="cancelAvatar()" class="chosenAvatar" *ngIf="avatarchosen" src="../../assets/images/avatar/av{{chosenavatar}}.png">
      <input #name type="text" placeholder="Kies een naam">
    </form>
    <button *ngIf="!editing" (click)="createUser(name.value)">Aanmaken</button>
    <button *ngIf="editing" (click)="createUser(name.value)">Opslaan</button>
  </div>

</div>
