<div class="loginpage">
  <img src="../../assets/images/home/logotrans.png" alt="Luteflex logo">
  <div class="loginmodal">
    <h2>Inloggen</h2>
    <form>
      <input class="logininput mt-5" type="email" placeholder="E-mailadres">
      <input class="logininput mt-3" type="password" placeholder="Wachtwoord">
      <button>Inloggen</button>
      <input type="checkbox" id="rememberme" name="rememberme"
             checked>
      <label for="rememberme" class="ml-1"> Mijn gegevens onthouden</label>
      <p>Is Luteflex nieuw voor jou? <span routerLink="">Registreer je nu.</span></p>
    </form>
  </div>
</div>
