<div class="loginpage">
  <img src="../../assets/images/home/logotrans.png" alt="Luteflex logo">
  <div class="loginmodal">
    <h2>Inloggen</h2>
    <form>
      <input #email class="logininput mt-5" type="email" placeholder="E-mailadres">
      <input #password class="logininput mt-3" type="password" placeholder="Wachtwoord">

      <div class="text-center mt-2" *ngIf="loading">
        <div class="spinner-border" role="status" >
        </div>
      </div>

      <p>Is Luteflex nieuw voor jou? <span routerLink="">Registreer je nu.</span></p>
    </form>
    <button (click)="signIn(email.value, password.value)">Inloggen</button>
  </div>
</div>
