<div class="pagecontent">
  <div class="headsection">
    <img src="../../assets/images/home/logotrans.png" alt="Luteflex logo">
    <button class="loginbtn" routerLink="login">Inloggen</button>

    <div>
      <h1>Onbeperkt series, films en meer kijken.</h1>
      <h3>Kijk waar je wilt. Altijd opzegbaar.</h3>
      <input #email type="email" placeholder="E-mailadres">
      <button (click)="register(email.value)">PROBEER NU</button>
      <p>Klaar om te kijken? Voer je e-mailadres in om je account te maken of te openen.</p>
    </div>
  </div>
  <div class="infosection">
    <div class="leftdiv">
      <h1>Kijk op je tv.</h1>
      <h3>Kijk op smart-tv's, PlayStation, Xbox, Chromecast, Apple TV, blu-rayspelers en meer.</h3>
    </div>
    <div class="rightdiv tv">
      <video class="our-story-card-video" autoplay="" playsinline="" muted="" loop="">
        <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v" type="video/mp4">
      </video>
      <img src="../../assets/images/home/tv.png">
    </div>
  </div>
  <div class="infosection">
    <div class="leftdiv">
      <img src="../../assets/images/home/mobile.jpg">
    </div>
    <div class="rightdiv">
      <h1>Download je series en kijk ze onderweg.</h1>
      <h3>Gebruik minder data en kijk offline naar al je favorieten.</h3>
    </div>
  </div>
  <div class="infosection">
    <div class="leftdiv">
      <h1>Kijk overal.</h1>
      <h3>Stream onbeperkt series en films op je telefoon, tablet, laptop en tv, zonder meer te betalen.</h3>
    </div>
    <div class="rightdiv devicepile">
      <video class="our-story-card-video" autoplay="" playsinline="" muted="" loop="">
        <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v" type="video/mp4">
      </video>
      <img src="../../assets/images/home/device-pile.png">
    </div>
  </div>
  <div class="vragensection">

    <h1>Veelgestelde vragen</h1>
    <button type="button" class="collapsible" (click)="questionclick()">Wat kan ik kijken op Luteflex?</button>
    <div class="content">
      <p>Luteflex heeft een uitgebreide catalogus van speelfilms, documentaires, series, anime,
        bekroonde Luteflex Originals en meer. Kijk zoveel je wilt en wanneer je wilt.</p>
    </div>
    <button type="button" class="collapsible" (click)="questionclick()" >Wat is Luteflex?</button>
    <div class="content">
      <p>Luteflex is een streamingservice met een zeer groot aanbod van bekroonde series,
        films, anime, documentaires en nog veel meer op duizenden apparaten met een internetverbinding.<br/><br/>
        Je kijkt zo veel je wilt, wanneer je wilt, zonder enige vorm van reclame. En dit allemaal voor
        één lage prijs per maand. Er valt altijd iets nieuws te ontdekken en elke week worden er nieuwe
        series en films toegevoegd!</p>
    </div>
    <button type="button" class="collapsible" (click)="questionclick()">Hoeveel kost Luteflex?</button>
    <div class="content">
      <p>Kijk Luteflex op je smartphone, tablet, smart-tv, laptop of streamingapparaat. Allemaal voor één
        lage prijs per maand. Abonnementen vanaf € 19,99 per maand. Geen extra kosten of contracten.</p>
    </div>
    <button type="button" class="collapsible" (click)="questionclick()">Waar kan ik kijken?</button>
    <div class="content">
      <p>Overal.</p>
    </div>
    <button type="button" class="collapsible" (click)="questionclick()">Hoe kan ik opzeggen?</button>
    <div class="content">
      <p>Luteflex is flexibel. Er zijn geen omslachtige contracten en geen verplichtingen aan verbonden.
        Je kunt je account makkelijk online annuleren. Je hoeft hiervoor maar twee keer te klikken.
        Er zijn geen annuleringskosten. Je kunt je account op elk gewenst moment opstarten of stopzetten.</p>
    </div>
  </div>
  <div class="footersection">
    <h4 class="text-center mt-5 mb-5">Vragen? Bel 0800-555-5555</h4>
    <div class="footercontainer">
      <a>Veelgestelde vragen</a>
      <a>Helpcentrum</a>
      <a>Account</a>
      <a>Mediacenter</a>
      <a>Relaties met investeerders</a>
      <a>Vacatures</a>
      <a>Cadeaubonnen gebruiken</a>
      <a>Cadeaubonnen kopen</a>
      <a>Hoe kun je Luteflex kijken?</a>
      <a>Gebruiksvoorwaarden</a>
      <a>Privacy</a>
      <a>Cookievoorkeuren</a>
      <a>Bedrijfsgegevens</a>
      <a>Contact opnemen</a>
      <a href="https://fast.com/nl/" target="_blank">Snelheidstest</a>
      <a>Wettelijke bepalingen</a>
      <a>Luteflex Originals</a>
    </div>
  </div>
</div>



