<div class="topbar">
  <img src="../../assets/images/home/logotrans.png" alt="Luteflex logo">
  <h5 routerLink="/login">Inloggen</h5>
</div>
<div class="welcomemodal mb-5  mt-4" *ngIf="stepOne">
  <span>✓</span>
  <p>STAP 1 VAN 3</p>
  <h3>Kies je abbonement.</h3>
  <p class="check">Geen verplichtingen, altijd opzegbaar.</p>
  <p class="check">Alles op Luteflex voor één lage prijs.</p>
  <p class="check">Onbeperkt kijken op al je apparaten.</p>
  <button class="nextbtn" (click)="nextmodal()">BEKIJK DE ABONNEMENTEN</button>
</div>

<div class="packselection mb-5  mt-4" *ngIf="stepTwo">
  <p class="small">STAP 1 VAN 3</p>
  <h3>Kies het abonnement dat bij je past.</h3>
  <p>Downgrade of upgrade wanneer je wilt.</p>

  <table>
    <tr>
      <th class="categories"></th>
      <th class="package"><button (click)="packageselected('basic')" class="basic">Basic</button></th>
      <th class="package"><button (click)="packageselected('premium')" class="premium">Premium</button></th>
      <th class="package"><button (click)="packageselected('luxury')" class="luxury">Luxury</button></th>
    </tr>
    <tr>
      <td class="lefttext">Prijs per maand</td>
      <td class="basic">€ 7,99</td>
      <td class="premium">€ 10,99</td>
      <td class="luxury">€ 13,99</td>
    </tr>
    <tr>
      <td class="lefttext">HD beschikbaar</td>
      <td class="basic">✗</td>
      <td class="premium">✓</td>
      <td class="luxury">✓</td>
    </tr>
    <tr>
      <td class="lefttext">Ultra HD beschikbaar</td>
      <td class="basic">✗</td>
      <td class="premium">✗</td>
      <td class="luxury">✓</td>
    </tr>
    <tr>
      <td class="lefttext">Aantal schermen dat je tegelijkertijd kunt gebruiken</td>
      <td class="basic">1</td>
      <td class="premium">2</td>
      <td class="luxury">4</td>
    </tr>
    <tr>
      <td class="lefttext">Kijk op je laptop, tv, telefoon en tablet</td>
      <td class="basic">✓</td>
      <td class="premium">✓</td>
      <td class="luxury">✓</td>
    </tr>
    <tr>
      <td class="lefttext">Eindeloos veel series en films</td>
      <td class="basic">✓</td>
      <td class="premium">✓</td>
      <td class="luxury">✓</td>
    </tr>
    <tr>
      <td class="lefttext">Altijd opzegbaar</td>
      <td class="basic">✓</td>
      <td class="premium">✓</td>
      <td class="luxury">✓</td>
    </tr>

  </table>
  <p class="small mt-3 text-muted">Beschikbaarheid van HD en Ultra HD is onderworpen aan je internetprovider en de mogelijkheden van het apparaat. Niet alle content is beschikbaar in HD of Ultra HD.</p>
  <button class="nextbtn m-auto" (click)="nextmodal()">DOORGAAN</button>

</div>

<div class="welcomemodal mb-5  mt-4" *ngIf="stepThree">
  <img src="../../assets/images/home/devices.PNG">
  <p>STAP 2 VAN 3</p>
  <h3>Voltooi het instellen van je account.</h3>
  <p>Luteflex is gepersonaliseerd voor jou. Maak een wachtwoord aan om Luteflex altijd en overal te kunnen kijken op elk apparaat.</p>
  <button class="nextbtn" (click)="nextmodal()">DOORGAAN</button>
</div>

<div class="passwordcreation mb-5  mt-4" *ngIf="stepFour">
  <p class="small">STAP 2 VAN 3</p>
  <h3>Verzin een wachtwoord om je lidmaatschap te starten. En voeg een gebruikersnaam toe.</h3>
  <p>Nog twee stappen en je bent klaar!
    We houden ook niet van te veel administratie.</p>

  <form>

    <input #name type="text" placeholder="Voeg een gebruikersnaam toe">
    <input #pw type="password" placeholder="Voeg een wachtwoord toe">
    <input #pwRepeat type="password" placeholder="Herhaal het wachtwoord">
  </form>
  <button class="nextbtn m-auto w-100 mw-100" (click)="checkPassword(pw.value, pwRepeat.value, name.value)">DOORGAAN</button>
  <div class="text-center mt-2" *ngIf="loading">
    <div class="spinner-border" role="status" >
    </div>
  </div>

</div>

<div class="welcomemodal mb-5  mt-4" *ngIf="stepFive">
  <span><i class="fas fa-money-check-alt"></i></span>
  <p>STAP 3 VAN 3</p>
  <h3>Stel je betaling in.</h3>
  <p>Je lidmaatschap begint zodra je je betaling hebt ingesteld.</p>
  <p><b>Geen verplichtingen. Zeg online op wanneer je maar wilt.</b></p>
  <p class="check">Onbeperkt kijken op al je apparaten.</p>
  <button class="nextbtn" routerLink="/watch">BEKIJK HET AANBOD</button>


</div>


