button:focus {outline:0;}

.nextbtn{
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-left: -10%;
  width: 120%;
  border: none;
  border-radius: 5px;
  max-width: 400px;
}
.topbar{
  height: 100px;
  border-bottom: 1px solid lightgray;
  img{
    float: left;
    width: 13%;
    margin: 20px 0 0 50px;
  }
  h5{
    float: right;
    margin: 35px 40px 0 0;
    cursor: pointer;
  }
  h5:hover{
    text-decoration: underline;
  }
}

.welcomemodal{
  width: 300px;
  margin: auto;
  text-align: center;
  .check:before{
    content: '✓';
    margin-right: 5px;
    color: red;
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }

  span{
    color: red;
    font-size: 50px;
    border: 2px solid red;
    padding: 0 15px 0 15px;
    border-radius: 100px;
  }
}

.packselection{
  width: 80%;
  margin: auto;

  table{
    width: 100%;

    button{
      width: 80%;
      height: 100px;
      border: none;
      border-radius: 5px;
      color: white !important;
      background-color: red;
      text-align: center;
      position:relative;
      margin-bottom: 15px;
      margin-left: 10%;
      opacity: 0.6;
    }

    button:after {
      content:'';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: solid 10px red;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }

    td{
      text-align: center;
      padding: 15px;
      font-size: 20px;
      border-top: 1px solid lightgray;
    }

    .lefttext{
      text-align: left !important;
    }

    .package{
      width: 125px;
    }

    .basic{
      color: #000;
      opacity: 0.6;
    }
    .premium{
      color: #000;
      opacity: 0.6;
    }
    .luxury{
      color: #000;
      opacity: 0.6;
    }

    .selected{
      font-weight: bold;
      color: red;
      opacity: 1;
    }
  }

}

.passwordcreation{
  width: 40%;
  min-width: 400px;
  margin: auto;

  form{
    width: 100%;
    [type=email],[type=password]{

      color: #202020;
      padding: 12px;
      border: 1px solid #202020;
      margin-bottom: 20px;
      border-radius: 5px;
      width: 100%;
    }
  }
}
