<div class="topbar">
  <img src="../../assets/images/home/logotrans.png" alt="Luteflex logo">
  <h5 routerLink="/login">Inloggen</h5>
</div>
<div class="welcomemodal">
  <span>✓</span>
  <p>STAP 1 VAN 3</p>
  <h3>Kies je abbonement.</h3>
  <p class="check">Geen verplichtingen, altijd opzegbaar.</p>
  <p class="check">Alles op Netflix voor één lage prijs.</p>
  <p class="check">Onbeperkt kijken op al je apparaten.</p>
  <button>BEKIJK DE ABONNEMENTEN</button>
</div>

<div class="packselection">
  <p class="small">STAP 1 VAN 3</p>
  <h3>Kies het abonnement dat bij je past.</h3>
  <p>Downgrade of upgrade wanneer je wilt.</p>

  <table>
    <tr>
      <th class="categories"></th>
      <th class="package"><button>Basic</button></th>
      <th class="package"><button>Premium</button></th>
      <th class="package"><button>Luxury</button></th>
    </tr>
    <tr>
      <td class="lefttext">Prijs per maand</td>
      <td>€ 7,99</td>
      <td>€ 10,99</td>
      <td>€ 13,99</td>
    </tr>
    <tr>
      <td class="lefttext">HD beschikbaar</td>
      <td>✗</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td class="lefttext">Ultra HD beschikbaar</td>
      <td>✗</td>
      <td>✗</td>
      <td>✓</td>
    </tr>
    <tr>
      <td class="lefttext">Aantal schermen dat je tegelijkertijd kunt gebruiken</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <td class="lefttext">Kijk op je laptop, tv, telefoon en tablet</td>
      <td>✓</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td class="lefttext">Eindeloos veel series en films</td>
      <td>✓</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td class="lefttext">Altijd opzegbaar</td>
      <td>✓</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
  </table>
</div>
