

<form class="w-50 m-auto" (ngSubmit)="onSubmit(titel.value, genre.value, beschrijving.value, cast.value,
regiseur.value, poster.value, movie.value, leeftijdbeperking.value,uitgevenjaar.value)">
  <h3 class="input-group p-2 mt-2">Admin dashboard</h3>
  <p class="input-group pl-2">Film toevoegen aan aanbod</p>
  <input class="input-group p-2 mt-2" type="text" placeholder="titel" #titel required>
  <input class="input-group p-2 mt-2" type="text" placeholder="genre" #genre required>
  <input class="input-group p-2 mt-2" type="text" placeholder="beschrijving" #beschrijving required>
  <input class="input-group p-2 mt-2" type="text" placeholder="cast" #cast required>
  <input class="input-group p-2 mt-2" type="text" placeholder="regiseur" #regiseur required>
  <!-- <label for="poster" class="ml-1 mt-2"> Poster/thumbnail</label> -->
  <input class="input-group p-2 mt-2" type="text" placeholder="poster url" #poster required>
  <!-- <label for="movie" class="ml-1 mt-2"> Film-bestand</label> -->
  <input class="input-group p-2 mt-2" type="text" placeholder="movie url" #movie required>
  <input class="input-group p-2 mt-2" type="number" placeholder="leeftijdbeperking" #leeftijdbeperking required>
  <input class="input-group p-2 mt-2 mb-2" type="number" placeholder="uitgevenjaar" #uitgevenjaar required>
  <button class="p-2" type="submit">Uploaden</button>
</form>


