

<form class="w-50 m-auto">
  <h3 class="input-group p-2 mt-2">Admin dashboard</h3>
  <p class="input-group pl-2">Film toevoegen aan aanbod</p>
  <input class="input-group p-2 mt-2" type="text" placeholder="titel">
  <input class="input-group p-2 mt-2" type="text" placeholder="genre">
  <input class="input-group p-2 mt-2" type="text" placeholder="beschrijving">
  <input class="input-group p-2 mt-2" type="text" placeholder="cast">
  <input class="input-group p-2 mt-2" type="text" placeholder="regiseur">
  <label for="poster" class="ml-1 mt-2"> Poster/thumbnail</label>
  <input class="input-group  " id="poster" type="file" placeholder="poster">
  <label for="movie" class="ml-1 mt-2"> Film-bestand</label>
  <input class="input-group " id="movie" type="file" placeholder="movie">
  <input class="input-group p-2 mt-2" type="number" placeholder="leeftijdbeperking">
  <input class="input-group p-2 mt-2 mb-2" type="number" placeholder="uitgevenjaar">
</form>
<div class="buttonholder">
  <button class="p-2">Toevoegen</button>
</div>

